/*
* Goodesign v.1 - Customização
* Copyright 2017, Oscar Inglez
* www.goodesign.com.br/frameworkcss
* Livre para uso com licença MIT
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Indice
––––––––––––––––––––––––––––––––––––––––––––––––––
- Titulos
- Grade


****
adicionar
****
-mansory (isotope)
-Slide show
-galleria (lightbox)
-php mailer
*/


/* Logo + Objetos
–––––––––––––––––––––––––––––––––––––––––––––––––– */


#introducao {
    text-align: center;
    padding: 100px 0 30px 0;
    display:non /* desabilitar depos*/
}

.framework {
    color: #000;
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: -40px;
    letter-spacing: 20px;
    margin-left: -8%;
}

.framework {
    animation: pulse 10s infinite;
}

@keyframes pulse {
    0% {
        color: #fff
    }
    20% {
        color: #000
    }
    40% {
        color: #fff
    }
    60% {
        color: #000
    }
    80% {
        color: #fff
    }
    90% {
        color: #000
    }
    100% {
        color: #fff
    }
}

#objetos {
    padding: 40px 0 40px 0;
}

#objetos {
    margin: 0 auto;
}

.objetos {
    text-align: center;
}

#objetos p {
    font-size: 1.7rem;
    margin-top: 10px;
    color: #636363;
}
#objetos .seis p{font-size: 1.2rem;
text-align: justify;
}
#objetos .seis a {text-decoration-style: dotted; color:#636363}

/* Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
    padding-top: 10px;
    border-bottom: 1px dotted #c9c9c9;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.menu {
    padding-top: 5px;
    list-style: none;
}

.menu_principal {
    padding: 2px 60px 15px 0;
}


.menu li {
    position: relative;
}

.menu>li {
    float: left;
}

.menu>li:hover {}

.menu li:hover>.sub-menu {
    display: block;
}

.menu ul li a:hover>.sub-menu {
    display: block;
    z-index: 3;
}


.sub-menu {
    display: none;
    color: #000;
    z-index: 3;
    list-style: none;
    background: #fff;
    position: absolute;
    border: 1px dotted #c8c8c8;
    width: 200px;
    margin-top: 15px;
    margin-left: -80px;
    border-radius: 20px;
}


.sub-menu li {
    border-bottom: 1px dotted #c8c8c8;
    padding: 10px 5px 10px 5px;
    text-align: center;
}


.sub-menu li:last-child {
    border-bottom: none;
}

.sub-menu::before {pointer-events: none;
    position: absolute;
z-index: -1;
content: '';
border-style: solid;
left: calc(50% - 10px);
top: -10px;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #e1e1e1 transparent;}

.download {float: right}




/* Titulos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.titulos {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.sessoes {
    border-top: 1px solid #eee;
    padding: 2rem 0;
    margin-bottom: 40px;
}
.sessoes::before {
  content:"";
  display:block;
  height: 59px; /* fixed header height*/
  margin:-10px 0 0; /* negative fixed header height */
}


/* Grade
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#grade .coluna,
#grade .colunas {
    background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    margin-bottom: .75rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.code-example {
    margin-bottom: 0;
    margin-top: -15px;
}

.code-example-body {
    white-space: pre;
    word-wrap: break-word;
}

.prettyprint {
    background: #fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    padding: 2.5rem 3rem 4rem 2.5rem;
    -webkit-font-smoothing: antialiased;
}


/* Tipografia + Icones
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.font_dica {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: normal;
}


#tipografia a {text-decoration-style: dotted; color:#636363}
#icones .fa {margin-right: 6px}
#icones .linha {margin-top:30px}
#icones a {text-decoration-style: dotted; color:#636363}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {padding: 10px}

footer p {
    text-align: center;
    text-align: center;
    font-size: 12px;
    color: #999;
}

/* galeria
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ---- grid ---- */

.grid {
  background: #f2f1f1;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slider {
	width: 100%;
}
  
.slider-wrapper {
	width: 100%;
	padding-bottom: 32%;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}























/* RESPONSIVO
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* -- Galeria -- */
@media (max-width: 550px) {.grid-sizer,
.grid-item {
  width: 100%;
}}