/*
* Goodesign v.1 - Customização
* Copyright 2017, Oscar Inglez
* www.goodesign.com.br/frameworkcss
* Livre para uso com licença MIT
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Indice
––––––––––––––––––––––––––––––––––––––––––––––––––
- Titulos
- Grade


*/


/* Logo + Objetos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#logo {
    text-align: center;
    margin-bottom: 50px;
}
.framework {
    color: #000;
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: -40px;
    letter-spacing: 20px;
    margin-left: -8%;
}
.framework {
    animation: pulse 10s infinite;
}

@keyframes pulse {
    0% {
        color: #fff
    }
    20% {
        color: #000
    }
    40% {
        color: #fff
    }
    60% {
        color: #000
    }
    80% {
        color: #fff
    }
    90% {
        color: #000
    }
    100% {
        color: #fff
    }
}

#objetos  .sessoes {
    border-top: 1px solid #fff;
}
#objetos {
    max-width: 80%;
    margin: 0 auto;
}

.objetos {
    text-align: center;
}
#objetos p {
    font-size: 1.7rem;
    margin-top: 10px;
    color: #636363;
}


/* Titulos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.titulos {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.sessoes {
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;
}


/* Grade
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#grade .coluna,
#grade .colunas {
    background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    margin-bottom: .75rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.code-example {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.code-example-body {
    white-space: pre;
    word-wrap: break-word;
}

.prettyprint {
    background: #fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    padding: 2.5rem 3rem;
    -webkit-font-smoothing: antialiased;
}


/* Tipografia
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.font_dica {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: normal;
}

.code-example-tipo {
    margin-top: 5px;
    margin-bottom: 5px;
}